<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
	<enabled>true</enabled>
	<freq>40</freq>
	<savefolder>/</savefolder>
	<lastshotid>0</lastshotid>
	<days enabled="false" fri="true" mon="true" sat="true" sun="true" thu="true" tue="true" wed="true"/>
	<from h="0" m="0"/>
	<to h="0" m="0"/>
	<prog enabled="true">QT Creator</prog>
</settings>